# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.env
.venv
env/
venv/
absa_env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log
logs/
wandb/

# OS files
.DS_Store
Thumbs.db

# HuggingFace / Transformers cache
.cache/
data/
results/
runs/

*.bin
*.h5
*.ckpt
*.pt
*.pth
checkpoint-*/
models/*

*.tmp
*.swp
*.bak

.vscode/
.idea/
